<?xml version="1.0"?>

<launch>
    <!-- start the Realsense -->
    <include file="$(find realsense2_viewer)/launch/realsense2_viewer.launch" >
      <arg name="clip_distance"     value="10.0" />
    </include>
    <!-- <node name="realsense2_viewer" pkg="realsense2_viewer" type="realsense2_viewer" output="screen" /> -->

    <!-- bring up robot-->
    <include file="$(find oil_application)/launch/oil_bringup.launch" >
      <arg name="fake" value="false" />
      <arg name="rviz" value="false" />
      <arg name="show" value="false" />
    </include>
    
    <!-- publish tf between camera_color_optical frame and gripper frame-->
    <include file="$(find oil_application)/calibration/publish_static_tf.launch" />

    <!-- get the translation between camera frame and base frame -->
    <node name="get_camera_pose" pkg="oil_application" type="get_camera_pose.py" output="screen" />

    <!-- start the rviz -->
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find oil_application)/launch/oil_get_camera_pose.rviz" output="screen" />

</launch>
