<launch>
    <arg name="marker_size" doc="Size of the ArUco marker used, in meters" default="0.1" />
    <arg name="marker_id" doc="The ID of the ArUco marker used" default="100" />
    <arg name="fake" default="false" />

    <!-- start the Realsense and aruco tracker-->
    <include file="$(find oil_application)/calibration/launch/aruco_tracker.launch" >
        <arg name="use_rviz" value="false" />
        
        <!-- false: if use ee_link2camera_color_optical_frame_broadcaster true: when get the tf from ee_link to camera_link-->
        <arg name="pub_tf" value="false" />
    </include>

    <!-- start the robot-->
    <include file="$(find oil_application)/launch/oil_bringup.launch" >
        <arg name="fake" value="$(arg fake)" />
        <arg name="rviz" value="false" />
        <arg name="hmi" value="true" />
    </include>

    <include file="$(find oil_application)/calibration/launch/publish_static_tf.launch" />

    <!-- start the rviz -->
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find oil_application)/calibration/config/result_show.rviz" output="screen" />

</launch>